/* _content/FastFoodShop/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-cbp4zz0vxs] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-cbp4zz0vxs] {
  color: #0077cc;
}

.btn-primary[b-cbp4zz0vxs] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-cbp4zz0vxs],
.nav-pills .show>.nav-link[b-cbp4zz0vxs] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-cbp4zz0vxs] {
  border-top: 1px solid #e5e5e5;
}

.border-bottom[b-cbp4zz0vxs] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-cbp4zz0vxs] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-cbp4zz0vxs] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-cbp4zz0vxs] {
  /* make footer flow naturally so it doesn't overlap content on varying page heights */
  position: relative;
  width: 100%;
  white-space: normal;
  line-height: 1.4;
  padding-top: 30px;
}
