@model FastFoodShop.Domain.Entities.Category
@{
    ViewData["Title"] = "Delete Category - FastFood Shop";
    Layout = null;
}
<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>
    <link href="~/css/styles.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
</head>
<body class="sb-nav-fixed">
@await Html.PartialAsync("~/Views/Admin/Layout/_Header.cshtml")
<div id="layoutSidenav">
@await Html.PartialAsync("~/Views/Admin/Layout/_Sidebar.cshtml")
<div id="layoutSidenav_content">
<main>
<div class="container-fluid px-4">
    <h1 class="mt-4">Delete Category</h1>
    <form method="post" asp-controller="Category" asp-action="Delete">
        @Html.AntiForgeryToken()
        <input asp-for="Id" type="hidden" />
        <p>Are you sure to delete <strong>@Model.Name</strong>?</p>
        <button class="btn btn-danger" type="submit">Delete</button>
        <a class="btn btn-secondary" asp-controller="Category" asp-action="Index">Cancel</a>
    </form>
</div>
</main>
@await Html.PartialAsync("~/Views/Admin/Layout/_Footer.cshtml")
</div>
</div>
</body>
</html>