@* Views/Admin/Shared/_Footer.cshtml *@

<footer class="py-4 bg-light mt-auto">
    <div class="container-fluid px-4">
        <div class="d-flex align-items-center justify-content-between small">
            <div class="text-muted">Bản quyền &copy; FastFood Shop</div>
            <div>
                <a href="#" target="_blank">Trang chủ</a>
                &middot;
                <a href="#" target="_blank">FastFood Shop</a>
            </div>
        </div>
    </div>
</footer>