@* Views/Admin/Shared/_Sidebar.cshtml *@

<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div class="sb-sidenav-menu-heading">Tính năng</div>

                <a class="nav-link" asp-area="Admin" asp-controller="Dashboard" asp-action="Index">
                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                    Bảng điều khiển
                </a>

                <a class="nav-link" asp-area="Admin" asp-controller="Statistics" asp-action="Index">
                    <div class="sb-nav-link-icon"><i class="fas fa-chart-bar"></i></div>
                    Thống kê
                </a>

                <a class="nav-link" asp-controller="User" asp-action="Index">
                    <div class="sb-nav-link-icon"><i class="fas fa-users"></i></div>
                    Người dùng
                </a>

                <a class="nav-link" asp-controller="Product" asp-action="Index">
                    <div class="sb-nav-link-icon"><i class="fas fa-box"></i></div>
                    Sản phẩm
                </a>
                

                <a class="nav-link" asp-controller="Category" asp-action="Index">
                    <div class="sb-nav-link-icon"><i class="fas fa-tags"></i></div>
                    Danh mục
                </a>

                <a class="nav-link" asp-area="Admin" asp-controller="Order" asp-action="Index">
                    <div class="sb-nav-link-icon"><i class="fas fa-shopping-cart"></i></div>
                    Đơn hàng
                </a>
            </div>
        </div>
        <div class="sb-sidenav-footer">
            <div class="small">Đăng nhập bởi:</div>
            FastFood Shop
        </div>
    </nav>
</div>